/* You can add global styles to this file, and also import other style files */
@import "assets/font/google-font.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

p, div, html, body, form, header, main, menu, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
html, body, app-root, mat-drawer-container {
  width: 100%;
  height: 100%;
  .mat-drawer-content {
    overflow: hidden;
  }
}


.example-full-width {
  width: 100%;
}
// .site {
//   display: flex;
//   flex-direction: column;
// }
// main {
//   flex: 1;
// }

// .fill-remaining-space {
//   flex: 1 1 auto;
// }
.content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  mat-drawer {
    width: 300px;
    overflow: hidden;
  }
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    header {
      height: 56px;
      background-color: #52418f;
      background: linear-gradient(to right bottom, rgba(41, 8, 48, .97), rgba(82, 65, 143, .97) 50%, rgba(114, 183, 227, .97));
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      padding: 0 10px;
    }
    main {
      flex: 1;
      // overflow-y: auto;
    }
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #e1e1e1;
  width: 6px;
  height: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}
